__pycache__/
*.py[cod]
*$py.class
build/
dist/
.eggs/
*.egg-info/
.python-version
.venv/
venv/
.env
.env.*
.git
.gitignore
.github/
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.hypothesis/
htmlcov/
coverage.xml
.cache/
.ipynb_checkpoints/
